<!-- Footer -->
<div class="footer container-fluid m-0 w-100 text-center bg-secondary">
  
  <div class="page-footer font-small py-4"></div>
    <!-- Copyright -->
    <p>© 2019 Copyright: <span class="font-weight-bold"> Rastro Online</span></p>
      <!-- Copyright -->
  </div>
</div>
  <!-- Footer -->