<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <a class="dropdown-item" href="/admins/listPendings">Tasaciones Pendientes</a>
  <a class="dropdown-item" href="/admins/listUsers">Lista de Usuarios</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/sessions/delete">Cerrar sesión</a>
</div>
