<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <a class="dropdown-item" href="/users/edit">Perfil</a>
  <a class="dropdown-item" href="/users/selling">Mis artículos</a>
  <a class="dropdown-item" href="/users/favorites">Mis favoritos</a>
  <a class="dropdown-item" href="/users/owned">Mis compras</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/sessions/delete">Cerrar sesión</a>
</div>