<ul>
  <li><a href="/users/{{ session.id }}/edit">PERFIL</a></li>
  <li><a href="/users/{{ session.id }}/myProducts">MIS PRODUCTOS</a></li>
  <li><a href="">FAVORITOS</a></li>
  <li><a href="">PERFIL</a></li>
  <li><a href="">PERFIL</a></li>
</ul>