<ul>
  <li><a href="/articles/search">BUSCAR ARTÍCULO</a></li>
  <li><a href="/users/{{ session.id }}/edit">MI PERFIL</a></li>
  <li><a href="/users/{{ session.id }}/selling">MIS ARTÍCULOS</a></li>
  <li><a href="">MIS FAVORITOS</a></li>
  <li><a href="">PERFIL</a></li>
  <li><a href="">PERFIL</a></li>
</ul>