<div class="row my-4">
  <div class="col-4 mx-auto"><a href="/articles/search" class="badge badge-dark">En Venta</a></div>
  <div class="col-4 mx auto"><a href="/articles/searchInAuction" class="badge badge-dark">En Subasta</a></div>
