<div class="row my-5">
  <div class="col-5 "><a href="/articles/search" id="on-sale-btn{{!-- "href="/articles/search --}}">EN VENTA</a></div>
  <div class="col-5"><a href="/articles/searchInAuction">EN SUBASTA</a></div>
</div>