<div class="row">
  <div class="col-3"><a href="/users/selling">EN VENTA</a></div>
  <div class="col-3"><a href="/users/{{ session.id }}/...........">EN SUBASTA</a></div>
  <div class="col-3"><a href="/users/sold">VENDIDOS</a></div>
  <div class="col-3"><a href="/users/pricing">PENDIENTES DE TASAR</a></div>
</div>