


<div class="mx-auto my-3 text-center">
    <h2>Articulos en venta de: <span class="font-weight-bold">{{ articles.[0].owner.name }}</span></h2>
  </div>

<div class="container">
  <div class="card-columns row justify-content-center">
    {{#each articles as |article| }}
      {{> cardArticleOwn session=../session article=article pathBack="selling"}}
    {{/each}}
  </div>
</div>
