<h4><center>¿Qué quieres buscar?</center></h4>

{{> filterBar }}
{{> navArticles }}

<div class="container-fluid">
  <div class="card-columns row justify-content-center">
    {{#each articles as |article|}}
      {{> cardArticle session=../session article=article }}
    {{/each}}
  </div>
</div>
