<ul class="list-group mt-5">
  {{#each articles as |article|}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
     <div>
        <p>{{ article.name }}<span class="badge badge-primary">{{ article.price }}</span></p>
        <p>{{ article.description }}</p>
        <a href="/articles/{{ article.id }}">Ver detalle</a>
      </div> 
    </li>
  {{/each}}
</ul>