
<div class="login ">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <center><img src="/images/rastro-logo.png" align="middle" alt="Rastro Online" width="400" height="400">
          </center>
          <p class="card-text">
            <center>Utiliza Facebook o Google para entrar</center>
          </p>
          <div class="row">
            <form action="/sessions/facebook" method="post" class="col-4 mx-auto">
              <button class="btn btn-primary btn-block" type="submit">
                <i class="fab fa-facebook"></i> Login Facebook</button>
            </form>
          </div>
          <br>
          <div class="row mb-2">
            <form action="/sessions/google" method="post" class="col-4 mx-auto">
              <button class="btn btn-danger btn-block" type="submit"><i class="fab fa-google"></i> Login Google</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>