<div class="row">
  <form action="/sessions/facebook" method="post" class="col-4 mx-auto">
    <button class="btn btn-primary btn-block" type="submit">
      <i class="fab fa-facebook"></i> Login with Facebook</button>
  </form>
</div>