<h2 class="my-3">Mis articulos vendidos</h2>
   
{{> filterBar }}
{{> navArticlesUser }}

<div class="container">
  <div class="card-columns row justify-content-center">
    {{#each articles as |article| }}
      {{> cardArticleOwn session=../session article=article pathBack="sold"}}
    {{/each}}
  </div>
</div>
