<div class="mx-auto my-3 text-center">
    <h2>Mis artículos vendidos</h2>
  </div>

{{> navArticlesUser }}

<div class="container">
  <div class="card-columns row justify-content-center">
    {{#each articles as |article| }}
      {{> cardArticleOwn session=../session article=article pathBack="sold"}}
    {{/each}}
  </div>
</div>
