<h4 class="my-3">Listado de favoritos</h4>

{{> filterBar }}
{{> navArticles }}

<div class="container-fluid">
  <div class="card-columns row justify-content-center">
    {{#each favorites as |favorite|}}
      {{> cardArticle session=../session article=favorite }}
    {{/each}}
  </div> 
</div>

  